IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
UseTab: Always
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Left
PackConstructorInitializers: Never
BreakConstructorInitializersBeforeComma: true
BreakConstructorInitializers: BeforeComma
AccessModifierOffset: -4
IndentAccessModifiers: false
EmptyLineBeforeAccessModifier: Always